<div class="recipe">
    <!--<div class="recipe-header"> {{recipe.type}}</div> -->
    <!-- <div class="recipe-body">
        <img class="recipe-image" src="{{recipe.imageUrl}}">
        <span class="recipe-name"> {{recipe.name}} </span>
        <p class="recipe-desc "> {{recipe.description}} </p>
    </div> -->


    <!-- <img class="img-responsive" src="{{recipe.imageUrl}}" alt=""> -->
    <div class="overlay">
        <h2>{{recipe.name}}</h2>
        <a class="info" href="#">Consulter</a>
    </div>
</div>